appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
black==19.3b0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
decorator==4.4.0
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.20
jedi==0.13.3
lazy-object-proxy==1.4.1
mccabe==0.6.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
numexpr==2.6.9
numpy==1.16.4
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pylint==2.3.1
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
tables==3.5.2
toml==0.10.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
wrapt==1.11.1
